.page-title-wrapper {
  background: #f5f5f5;
  float: left;
  padding: 15px;
  margin: 0 0 30px;
  width: 100%;
  .page-title {
    color: #000000;
    float: left;
    font: 500 18px/28px "Poppins", Helvetica, sans-serif;
    letter-spacing: 0.4px;
    margin: 0;
    text-transform: uppercase;
  }
  .breadcrumb {
    float: right;
    line-height: 28px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    > li {
      white-space: nowrap;
      display: inline-block;
    }
    > li + li:before {
      color: #888888;
      content: "\f105";
      float: left;
      font-family: "FontAwesome";
      font-size: 13px;
      margin: 0px 8px;
    }
    a {
      color: #232323;
    }
    i {
      font-size: 16px;
      vertical-align: baseline;
    }
  }
}
.location-title {
  font-weight: bold;
  i.fa {
    border: 2px solid #eaeaea;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    color: #999999;
    font-size: 16px;
    height: 30px;
    margin: 10px 5px 10px 0;
    padding: 5px;
    text-align: center;
    width: 30px;
  }
}
.form-horizontal {
  float: left;
  width: 100%;
  legend {
    font-size: 18px;
    padding: 7px 0px;
  }
}
.form-group {
  display: flex;
}
div.required .control-label:before {
  content: "* ";
  color: #f00;
  font-weight: bold;
}
select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 14px;
}
.form-control {
  background: #ffffff;
  color: #9c9b9b;
  border: 1px solid #e5e5e5;
  margin: 0 0 5px;
}
.btn-primary {
  background: #1b1b1b;
  border: 1px solid #1b1b1b;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  color: #ffffff;
  font: 400 14px/20px "Poppins", Helvetica, sans-serif;
  letter-spacing: 1px;
  padding: 6px 20px;
  text-transform: capitalize;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active, .open .dropdown-toggle.btn-primary,#button-login.btn.btn-primary:focus,.btn-primary:active,#button-account.btn.btn-primary:focus,#button-register.btn.btn-primary:focus,#button-shipping-method.btn.btn-primary:focus,#button-payment-address.btn.btn-primary:focus,#button-shipping-address.btn.btn-primary:focus,#button-payment-method.btn.btn-primary:focus,#button-guest.btn.btn-primary:focus,#button-review.btn.btn-primary:focus,#button-coupon.btn.btn-primary:focus,#button-voucher.btn.btn-primary:focus,#button-quote.btn.btn-primary:focus,#button-confirm.btn.btn-primary:focus
{
 	background: #ffd71b;
	border: 1px solid #ffd71b;
	color: #000000;
}
@media (max-width:767px)
{
  .breadcrumb {
		float:none !important;
		margin:0 auto !important;
		display:inline-block;
  }
  .form-group {
    display: block;
}
}
